{% extends 'website/base.html' %}
{% load static %}

{% block title %} +2 {% endblock %}
      
    {% block body %}

			<link rel="stylesheet" type="text/css" href="css/stylesub.css">

</head>
<body>
<div class="img ">

    
  <div class="container text-center mt-5">
 
                 <div class="row " >
        

      <div class="col-sm-12 mb-12 border bg-danger text-center mt-5  mr-2">
        
        <a href=""><i class="far fa-file-pdf fa-6x mt-2"></i></i></a>
        <h4>SCience</h4>
         <button class="btn btn-dark text-white btn lg mr-2 " ><a href="{% url 'questions+2' %}">click</a></button>
        <h5 style="font-size: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
         </h5>
      </div>

      <div class="col-sm-12 mb-12 border bg-warning text-center mt-5">
        
        <a href=""><i class="far fa-file-pdf fa-6x mt-2"></i></i></a>
        <h4> Management</h4>
         <button class="btn btn-dark text-white btn lg mr-2" ><a href="file:///C:/Users/User/Desktop/ctf/index.html">click</a></button>
        <h5 style="font-size: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sindustry. Lorem Ipsum has been the industry's
      
       </h5>
        
      </div>
       
                </div>



</div>


</div>


{% endblock %}
