/*font-family: 'Ubuntu', sans-serif;*/
.bgimg{
	background-image: url('images/zz.jpeg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 560px;

}


ul li{
	
	margin-right: 3px;
	text-align: center;
	display: inline-block;



}
ul li a{
	text-decoration: none;
	color: white;
	display: block;
	text-decoration: none;

}
ul li a:hover {
	background-color: black;
	display: block;
}

ul li  ul li {
	display: none;
	margin-right: 2px;
	
}
ul li:hover ul li{
	display: block;
	background-color: yello;
}
.headerset{
	padding-top: 200px;
	box-sizing: border-box;
}
.headerset h2{
	font-size: 22px;
 
	font-family: 'Shadows Into Light', cursive;
}
.headerset h1{
	font-size: 42px;
	font-weight: bold;
	font-family: 'Unna', serif;

}
.headerset button{
	font-size: none;
	margin-bottom: 5px 5px 10px;
	margin-top: 20px;
	border-spacing: 10px;
	
}
.headerset h4{
	margin-top: 20px;
	font-size: 15px;
	
	
	font-family: 'Bilbo', cursive;

}


/*...........ourservice........*/
.img{
	background-image: url('images/aa.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 700px;

}
.ourservices{
	padding: 100px 0px 60px;
	height: 700px;
}

.ourservices h1{
	font-weight: bold;
	font-size: 50px;

}
.rowsetting{
	margin: 80px 0px !important;
}
.rowsetting h2{
	margin-top: 20px;
	font-weight: bold;
	font-size: 40px;
}
.rowsetting h6{

	font-family: 'Herr Von Muellerhoff', cursive;
}
.imgsetting{
	border-radius: 50%;
	height: 100px;
	width: 100px
}


.fa-file-pdf-o{
	margin-top: 20px;
}
.fa-list-alt{
	margin-top: 20px;
}
.fa-film {
	margin-top: 20px;
}
..rowsetting p {
	text-transform: uppercase;
	font-family: 'Herr Von Muellerhoff', cursive;
}
/*------bachelor----*/
.img-image{
	background-image: url('images/aaa.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 700px;

	
}


/*....our team...*/
.ourteam{
	height: 650px;
	padding: 100px 0px 60px;
	width: 100%;

}
.ourteam h1{
	font-size: 50px;
	font-weight: bold;


}
.teamsetting{
	margin-top: 70px !important;
}
.teamsetting h5{
	font-weight: bold;
	font-size: 12px;
	text-transform: lowercase;
	font-family: 'Tangerine', cursive;
}
/*----contacts us-----*/



.image{
	background-image: url('images/bbb.jpeg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 700px;

	
}

.contact{
	height: 560px;
	padding: 100px 0px 60px;
	width: 100%;


}
.contact h1{
	font-weight: bold;
	font-size: 50px;
	color: white;

}
.contact-form{
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
	margin: 50px auto;
	width: 350px;
	text-align: center;


}
.contact-form h2{
	background: #efefef;
	margin: 0;
	padding: 10px;


}
.contact-form input{
	display: block;
	width: 90%;
	margin: 10px auto;
}
.contact-form textarea{
	width: 90%;
	margin: 5px auto;
	padding: 10px;
	height: 80px;

}
.contact-form button{
	font-size: none;
	margin-bottom: 5px 5px 10px;
	margin-top: 10px;
	border-spacing: 10px;

	
}
btn-btn{

    cursor: pointer;
	width: 150px; important;
	margin-left: 18px; !mportant;

}



.footer{
	height: 15px;
	color: black;
	margin-top: 25px;



}
.footer h6{
	line-height: 15px;

	
}

/*----responsive-----*/
@media(min-width: 992px){}
@media(min-width: 768px) and (max-width: 991px){}
@media(min-width: 575px) and(max-width: 767px){}
@media(min-width: 460px) and(max-width: 574px){}
@media(min-width: 479px){}


}


