body{
	margin: 0px;
	padding: 0px;
}


body{
	margin: 0px;
	padding: 0px;
}
.img{
	background-image: url('../img/bg2.jpg');
	
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 550px;

}
.image{
	background-image: url('../img/bg2.jpg');
	
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 1px;

}





/*....our team...*/
.ourteam{
	height: 300px;
	padding: 100px 0px 60px;
	width: 100%;

}
.ourteam h2{
	font-size: 30px;
	font-weight: bold;
	color: white;
	


}
.teamsetting{
	margin-top: 70px !important;
}
.teamsetting h5{
	color: black;
	font-weight: bold;
	font-size: 12px;
	text-transform: lowercase;
	font-family: 'Tangerine', cursive;
	margin-top: 65px;
}

.colum-style button{
	font-size: none;
	margin-bottom: 5px 5px 5px;
	margin-top: 10px;
	border-spacing: 3px;
	
}
.column-item button{
	font-size: none;
	margin-bottom: 5px 5px 5px;
	margin-top: 10px;
	border-spacing: 3px;
	
}

.column-button button{
	font-size: none;
	margin-bottom: 5px 5px 5px;
	margin-top: 10px;
	border-spacing: 3px;
	}








	/*----------- start----mediaquerry- bachelor--*/

@media (max-width: 1199.98px) { ... }

  
	


@media (max-width: 991.98px) {
	
}
@media (max-width: 767.98px) { 
	.teamsetting h5 {
    color: black;
    font-weight: bold;
    font-size: 10px;
    text-transform: lowercase;
    font-family: 'Tangerine', cursive;
   margin-top: 65px;
}

	  

	

}
@media (max-width: 575.98px) {

	.img{
	background-image: url('../img/bg2.jpg');
	
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 340px;

}
.image{
	background-image: url('../img/bg2.jpg');
	
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 340px;

}
.image-img{
	background-image: url('../img/bg2.jpg');
	
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 200px;

}



	.ourteam h2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 10px;
}
.teamsetting h4{
	font-size: 12px;

}
.teamsetting h5 {
    color: black;
    font-weight: bold;
    font-size: 7px;
    text-transform: lowercase;
    font-family: 'Tangerine', cursive;
   margin-top: 25px;
}

															
														}
                                                /*------------end bachelor-----------*/






